# ===============================
# Xcode
# ===============================
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xcworkspace
.build/

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# Swift Package Manager
# ===============================
.swiftpm/

# ===============================
# Logs
# ===============================
*.log

